<%= render 'header' %>

<div>
    <br>ようこそながのCAKEへ!</br>
    <br>このサイトは、ケーキ販売のECサイトになります。</br>
    <br>会員でない方も商品の閲覧はできますが、</br>
    <br>購入には会員登録が必要になります。</br>
</div>

<h5>新着商品</h5>
<% @items.each do |item| %>
<div>
  <div>
  <% if item.image.attached? %>
   <%= link_to item_path(item.id) do %>
     <%= image_tag item.image, size: "100x100" %>
   <% end %>
　<% else %>
　 <%= link_to item_path(item.id) do %>
    <%= image_tag 'no_image', size: "100x100" %>
   <% end %>
  <% end %>
  </div>
  <p><%= item.name %></p>
  <p>¥<%= item.price %></p>
</div>
<% end %>

