<%= render 'admin/genres/header' %>

<h3><%= @customer.last_name %><%= @customer.first_name さんの会員情報編集</h3>
<%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>

<h5>会員ID</h5>
<%= f.id %>

<h5>氏名</h5>
<p><%= f.text_field :last_name %><%= f.text_field :first_name %></p>

<h5>フリガナ</h5>
<P><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></P>

<h5>郵便番号</h5>
<p><%= f.text_field :postal_code %></p>

<h5>住所</h5>
<P><%=f.text_field :address %></P>

<h5>電話番号</h5>
<P><%= f.text_field :telephone_number %></P>

<h5>メールアドレス</h5>
<p><%= f.text_field :email %></p>

<h5>会員ステータス</h5>
<%= f.radio_button :is_active, true %>有効　<%= f.radio_button :is_active, false %>退会

<%= f.submit '変更を保存' %>
<% end %>