<%= render 'admin/genres/header' %>

<h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h3>

<h5>会員ID</h5>
<%= @customer.id %>

<h5>氏名</h5>
<%= @customer.last_name %><%= @customer.first_name %>

<h5>フリガナ</h5>
<%= @customer.last_name_kana.first_name_kana %>

<h5>郵便番号</h5>
<%= @customer.postal_code %>

<h5>住所</h5>
<%= @customer.address %>

<h5>電話番号</h5>
<%= @customer.telephone_number %>

<h5>メールアドレス</h5>
<%= @customer.email %>

<h5>会員ステータス</h5>
<% if @customer.is_deleted %>
  有効
<% else %>
  退会
<% end %>

<br><%= link_to "編集する", edit_admin_customer_path(@customer) %></br>
<br><%= link_to "注文履歴一覧を見る", admin_items_path %></br>