<%= render 'admin/genres/header' %>

  <h4>注文履歴一覧</h4>
  <% @orders.each do |order| %>

  <h5>購入日時</h5>
  <%= link_to order.created_at, admin_order_path %>

  <h5>購入者</h5>
  <%= order.name %>

  <h5>注文個数</h5>
  <%= order_details.all.sum(:quantity) %>
  <% end %>
  <%= paginate @orders %>
