<%= render 'public/customers/header' %>

<h3>商品一覧</h3>
<% @items.each do |item| %>

    <%= link_to item.image, item_path(item.id) %>
    #商品画像

    <h5><%= item.name %></h5>
    #商品名

    ￥<%= @item.add_tax_price.to_s(:dalimited) %>
    #税込み価格

<% end %>

<%= paginate @items %>